/BoardRules.class
/ClearanceMatrix$MatrixEntry.class
/ClearanceMatrix$Row.class
/ClearanceMatrix.class
/DefaultItemClearanceClasses$ItemClass.class
/DefaultItemClearanceClasses.class
/Net.class
/NetClass.class
/NetClasses.class
/Nets.class
/ViaInfo.class
/ViaInfos.class
/ViaRule.class
